<!DOCTYPE html>
<html>
  <head>
      <title>Flask App</title>
      <meta name = "viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">

          <meta charset="UTF-8">

  </head>
  <body>
    <header>
      <div>
        <h1 class="logo">Rahul's web app</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div>
        {%block content%}
        {%endblock%}
    </div>
  </body>
</html>
